<script type="text/x-template" id="mc-problem-template">

<h4>(<%- problem.get('points')%> points) Select the choice that best answers the question.</h4>
<h2><%- problem.get('question') %></h2>
<div class="choices">
    <% for (var choice in problem.get('choices')) { %>
        <label class="radio">
            <input type="radio" name="response" data-toggle="radio" value="<%- choice %>" />
            <%- problem.get('choices')[choice] %>
        </label>
        <br />
    <% } %>
</div>
<button class="btn btn-danger btn-submit">Submit</button>
<button class="btn btn-success btn-next">Next</button>

</script>
