<script type="text/x-template" id="tf-problem-template">

<h4>(<%- problem.get('points') %> points) True or False?</h4>
<h2><%- problem.get('question') %></h2>
<div class="choices">
    <label class="radio">
        <input type="radio" name="response" value="t" data-toggle="radio" /> True
    </label>
    <br />
    <label class="radio">
        <input type="radio" name="response" value="f" data-toggle="radio" /> False
    </label>
    <br />
</div>

<button class="btn btn-block btn-danger btn-submit">Submit</button>

</script>
