<!doctype html>
<html>
    <head>
        <title>Understanding Computers and the Internet</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/css/jquery.sidr.dark.css" />
        <link rel="stylesheet" href="/css/global.css" />

        <script src="/js/lib/jquery-1.9.1.min.js"></script>
        <script src="/js/lib/underscore-min.js"></script>
        <script src="/js/lib/bootstrap.min.js"></script>
        <script src="/js/lib/backbone.js"></script>
    </head>
    <body>
        <div class="container">
            <%= yield %>
        </div>
    </body>
</html>
