{% extends "layout.html" %}
{% block body %}

{% include 'partials/section_selector.html' %}
{% include 'partials/notification.html' %}

<link rel="stylesheet" href="/static/css/chapter.css" />

{% if chapter_id in ['binary', 'cpu', 'memory'] %}
    <link rel="stylesheet" href="/static/css/{{ chapter_id }}.css" />
{% endif %}

<script>
var chapter_id = '{{ chapter_id }}';
</script>

<script src="/static/js/lib/jquery.sidr.min.js"></script>
<script src="/static/js/chapter.js"></script>
<script src="/static/js/notification.js"></script>

<div id="chapters-menu-wrapper">
    <div id="chapters-menu">
        <div id="chapters-menu-text">
            <a href="#">Table of Contents &nbsp;<i class="icon-angle-down"></i></a>
        </div>
        <ul id="chapters-menu-list">
            {% for i, chapter in toc.iteritems() %}
                <li>
                    <a href="/chapter/{{ i }}" data-chapter="{{ i }}" {% if i == chapter_id %} class="active" {% endif %}>
                        {{ chapter.heading }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<h1 class="chapter-heading">Chapter {{ chapter.sequence + 1 }} <small>{{ chapter.title }}</small></h1>

<div id="chapter-content">
    {{ chapter.content|safe }}
</div>

<div id="section-selectors"></div>

{% endblock %}
