{% extends "layout.html" %}
{% block body %}

{% include 'partials/chapter_menu.html' %}
{% include 'partials/section_selector.html' %}
{% include 'partials/notification.html' %}

<link rel="stylesheet" href="/static/css/chapter.css" />

{% if chapter_id in ['binary', 'cpu', 'memory'] %}
    <link rel="stylesheet" href="/static/css/{{ chapter_id }}.css" />
{% endif %}

<script>
var chapter_id = '{{ chapter_id }}';
</script>

<script src="/static/js/chapter.js"></script>
<script src="/static/js/notification.js"></script>

<div id="chapter-content">
    {{ chapter.content|safe }}
</div>

<div id="section-selectors"></div>

{% endblock %}
