{% extends "layout.html" %}
{% block body %}

{% include 'partials/section_selector.html' %}

<link rel="stylesheet" href="/static/css/chapter.css" />

{% if chapter_id in ['binary', 'cpu', 'memory'] %}
    <link rel="stylesheet" href="/static/css/{{ chapter_id }}.css" />
{% endif %}

<script src="/static/js/lib/jquery.sidr.min.js"></script>
<script src="/static/js/chapter.js"></script>

<div id="sidr">
    {{ toc_list|safe }}
</div>

<!--a id="toggle-menu" href="#sidr"><i class="icon-list"></i></a-->
<h1 class="chapter-heading">Chapter {{ chapter.sequence + 1 }} <small>{{ chapter.title }}</small></h1>

<div id="chapter-content">
    {{ chapter.content|safe }}
</div>

<div id="section-selectors"></div>

{% endblock %}
