{% extends "layout.html" %}
{% block body %}

<link rel="stylesheet" href="/static/css/lib/stroll.min.css" />
<link rel="stylesheet" href="/static/css/contents.css" />

<script type="text/javascript" src="/static/js/lib/stroll.min.js"></script>
<script type="text/javascript" src="/static/js/contents.js"></script>

<div id="progress" class="box">
    <div id="user-info">
        <h1>
            <img src="{{ user.photo }}" />
            {{ user.name }}
            <div id="points">{{ user.points }}</div>
        </h1>
    </div>
    <ul id="table-contents">
        {% for id, chapter in toc.iteritems() %}
            <li>
                <div class="number">{{ chapter.sequence + 1 }}</div>
                <div class="chapter-info">
                    {{ chapter.heading }}
                </div>
                <div class="chapter-buttons">
                    <a class="btn btn-primary" href="/chapter/{{ id }}">Read</a>
                    <a class="btn btn-info" href="/pset/{{ id }}">Practice</a>
                    <a class="btn btn-danger btn-more"><i class="icon-angle-down"></i></a>
                </div>
                <div class="chapter-more">
                    <h4>{{ ". ".join(chapter['tags']) }}.</h4>
                    <ul>
                        {% for i in chapter.subheadings %}
                            <li>
                                <a href="/chapter/{{ id }}/{{ i.id }}">
                                    {% if id in reads and i.id in reads[id] %}
                                        <i class="icon-ok"></i>
                                    {% endif %}
                                    {{ i.subheading }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
