{% extends "layout.html" %}
{% block body %}

<link rel="stylesheet" href="/static/css/lib/stroll.min.css" />
<link rel="stylesheet" href="/static/css/contents.css" />

<script type="text/javascript" src="/static/js/lib/stroll.min.js"></script>
<script type="text/javascript" src="/static/js/contents.js"></script>

<div id="progress" class="box">
    <div id="user-info">
        <h1>
            <img src="{{ user.photo }}" />
            {{ user.name }}
            <div id="points">{{ user.points }}</div>
        </h1>
    </div>
    <div id="badges">
        {% if badges['hardware'] %}
            <div class="badge hardware-badge"><i class="icon-desktop"></i> Hardware</div>
        {% endif %}
        {% if badges['internet'] %}
            <div class="badge internet-badge"><i class="icon-cloud"></i> Internet</div>
        {% endif %}
        {% if badges['multimedia'] %}
            <div class="badge multimedia-badge"><i class="icon-picture"></i> Multimedia</div>
        {% endif %}
        {% if badges['security'] %}
            <div class="badge security-badge"><i class="icon-shield"></i> Security</div>
        {% endif %}
        {% if badges['development'] %}
            <div class="badge development-badge"><i class="icon-code"></i> Development</div><br />
        {% endif %}
        {% if badges['chapters'] %}
            <div class="badge chapters-badge"><i class="icon-book"></i> Chapters</div>
        {% endif %}
        {% if badges['pset'] %}
            <div class="badge pset-badge"><i class="icon-ok"></i> Problem Sets</div>
        {% endif %}
        {% if badges['complete'] %}
            <div class="badge complete-badge"><i class="icon-star"></i> All Complete</div>
        {% endif %}
    </div>
    <ul id="table-contents">
        <h2>Table of Contents</h2>
        {% for id, chapter in toc.iteritems() %}
            <li>
                <div rel="tooltip" data-placement="right" class="number
                    {% if reads[id].keys()|length == 0 %}
                        red" data-original-title="You haven't started this chapter yet"
                    {% elif reads[id].keys()|length == chapter.subheadings|length %}
                        green" data-original-title="You've completed this chapter"
                    {% else %}
                        yellow" data-original-title="You've read some of this chapter"
                    {% endif %}
                >
                    {{ chapter.sequence + 1 }}
                </div>
                <div class="chapter-info">
                    {{ chapter.heading }}
                </div>
                <div class="chapter-buttons">
                    <a class="btn btn-primary" href="/chapter/{{ id }}"><i class="icon-book"></i> Read</a>
                    <a class="btn btn-info" href="/pset/{{ id }}"><i class="icon-pencil"></i> Practice</a>
                    <a class="btn btn-danger btn-more"><i class="icon-angle-down"></i></a>
                </div>
                <div class="chapter-more">
                    <h4>{{ ". ".join(chapter['tags']) }}.</h4>
                    {% if id in total_points %}
                        <h3><a href="/pset/{{ id }}">Problem Set:</a> {{ points[id] }} out of {{ total_points[id] }} points</h4>
                    {% endif %}
                    <ul>
                        {% for i in chapter.subheadings %}
                            <li>
                                <a href="/chapter/{{ id }}/{{ i.id }}">
                                    {% if id in reads and i.id in reads[id] %}
                                        <i class="icon-ok"></i>
                                    {% endif %}
                                    {{ i.subheading }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
