{% extends "layout.html" %}
{% block body %}

<div class="page-header">
    <h1>Table of Contents</h1>
</div>

{% for id, chapter in toc.iteritems() %}
    <h2>
        <a href="/chapter/{{ id }}">
            {{ chapter.sequence + 1 }}. {{ chapter.heading }}
        </a>
    </h2>
    <h3>{{ ". ".join(chapter['tags']) }}.</h3>
    <ul>
        {% for i in chapter.subheadings %}
            <li>
                <a href="/chapter/{{ id }}/{{ i.id }}">{{ i.subheading }}</a>
            </li>
        {% endfor %}
    </ul>
{% endfor %}

{% endblock %}
