<!doctype html>
<html>
    <head>
        <title>Understanding Computers and the Internet</title>
        <link rel="stylesheet" href="/static/css/lib/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/css/lib/flat-ui.css" />
        <link rel="stylesheet" href="/static/css/lib/font-awesome.min.css" />
        <link rel="stylesheet" href="/static/css/lib/jquery.sidr.dark.css" />
        <link rel="stylesheet" href="/static/css/global.css" />

        <script src="/static/js/lib/jquery-1.9.1.min.js"></script>
        <script src="/static/js/lib/underscore-min.js"></script>
        <script src="/static/js/lib/bootstrap.min.js"></script>
        <script src="/static/js/lib/backbone.js"></script>
        <script src="/static/js/lib/handlebars.js"></script>
        <script src="/static/js/global.js"></script>
    </head>
    <body>
        <div id="navbar">
            <h2>
                <img src="{{ g.user.photo }}" />
                {{ g.user.name }}
            </h2>
            <div id="points">{{ g.user.points }} points</div>
            {% if title %}
                <h1 id="title">{{ title }}
                    {% if subtitle %}
                        <span id="subtitle">{{ subtitle }}</span>
                    {% endif %}
                </h1>
            {% endif %}
        </div>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
