<!doctype html>
<html>
    <head>
        <title>Understanding Computers and the Internet</title>
        <link rel="stylesheet" href="/static/css/lib/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/css/lib/flat-ui.css" />
        <link rel="stylesheet" href="/static/css/lib/font-awesome.min.css" />
        <link rel="stylesheet" href="/static/css/global.css" />

        <script src="/static/js/lib/jquery-1.9.1.min.js"></script>
        <script src="/static/js/lib/underscore-min.js"></script>
        <script src="/static/js/lib/bootstrap.min.js"></script>
        <script src="/static/js/lib/backbone.js"></script>
        <script src="/static/js/global.js"></script>
    </head>
    <body>
        <div id="navbar">
            <h2>
                <a href="/contents">
                    <img src="{{ g.user.photo }}" />
                    {{ g.user.name }}
                </a>
            </h2>
            <div id="points"><a href="/progress">{{ g.user.points }} points</a></div>
            <div id="badges">
                {% for k, v in g.all_badges.iteritems(): %}
                    {% if g.user.badges[k] %}
                        <div class="badge-container">
                            <div class="badge-line {{ k }}-badge"></div>
                            <div class="badge {{ k }}-badge"><i class="{{ v.icon }}"></i> {{ v.name }}</div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div id="search">
                <i class="icon-search"></i>
                <input type="text" />
            </div>
        </div>
        <div class="container">
            {% if title %}
                <h1 id="title">
                    {{ title }}
                    {% if subtitle %}
                        <span id="subtitle">{{ subtitle }}</span>
                    {% endif %}
                </h1>
            {% endif %}
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
