<!doctype html>
<html>
    <head>
        <title>Understanding Computers and the Internet</title>
        <link rel="stylesheet" href="/static/css/lib/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/css/lib/flat-ui.css" />
        <link rel="stylesheet" href="/static/css/lib/font-awesome.min.css" />
        <link rel="stylesheet" href="/static/css/global.css" />

        <script src="/static/js/lib/jquery-1.9.1.min.js"></script>
        <script src="/static/js/lib/underscore-min.js"></script>
        <script src="/static/js/lib/bootstrap.min.js"></script>
        <script src="/static/js/lib/backbone.js"></script>
        <script src="/static/js/global.js"></script>
    </head>
    <body>
        <div id="navbar">
            <h2>
                <img src="{{ g.user.photo }}" />
                {{ g.user.name }}
            </h2>
            <div id="points">{{ g.user.points }} points</div>
            {% if title %}
                <h1 id="title">{{ title }}
                    {% if subtitle %}
                        <span id="subtitle">{{ subtitle }}</span>
                    {% endif %}
                </h1>
            {% endif %}
            <div id="badges">
                {% if g.user.earned_badges['hardware'] %}
                <div class="badge-container">
                    <div class="badge-line hardware-badge"></div>
                    <div class="badge hardware-badge"><i class="icon-desktop"></i> Hardware</div>
                </div>
                {% endif %}
                {% if g.user.earned_badges['internet'] %}
                <div class="badge-container">
                    <div class="badge-line internet-badge"></div>
                    <div class="badge internet-badge"><i class="icon-cloud"></i> Internet</div>
                </div>
                {% endif %}
                {% if g.user.earned_badges['multimedia'] %}
                <div class="badge-container">
                    <div class="badge-line multimedia-badge"></div>
                    <div class="badge multimedia-badge"><i class="icon-picture"></i> Multimedia</div>
                </div>
                {% endif %}
                {% if g.user.earned_badges['security'] %}
                <div class="badge-container">
                    <div class="badge-line security-badge"></div>
                    <div class="badge security-badge"><i class="icon-shield"></i> Security</div>
                </div>
                {% endif %}
                {% if g.user.earned_badges['development'] %}
                <div class="badge-container">
                    <div class="badge-line development-badge"></div>
                    <div class="badge development-badge"><i class="icon-code"></i> Development</div>
                </div>
                {% endif %}
                {% if g.user.earned_badges['chapters'] %}
                <div class="badge-container">
                    <div class="badge-line chapters-badge"></div>
                    <div class="badge chapters-badge"><i class="icon-book"></i> Chapters</div>
                </div>
                {% endif %}
                {% if g.user.earned_badges['pset'] %}
                <div class="badge-container">
                    <div class="badge-line pset-badge"></div>
                    <div class="badge pset-badge"><i class="icon-ok"></i> Problem Sets</div>
                </div>
                {% endif %}
                {% if g.user.earned_badges['complete'] %}
                <div class="badge-container">
                    <div class="badge-line complete-badge"></div>
                    <div class="badge complete-badge"><i class="icon-star"></i> All Complete</div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
