{% extends "layout.html" %}
{% block body %}

<link rel="stylesheet" href="/static/css/progress.css" />

<div id="progress" class="box">
    <h2>Badge Progress</h2>
    {% for k, v in g.all_badges.iteritems(): %}
    {% if v.type == 'chapter' %}
        <div class="progress-section progress-{{ k }}">
            {% if badge_progress[k]['earned'] %}
                <div class="badge {{ k }}-badge"><i class="{{ v.icon }}"></i> {{ v.name }}</div>
            {% else %}
                <div class="badge {{ k }}-badge unearned">{{ v.name }}</div>
            {% endif %}
            <div class="badge-progress">
                <div class="progress">
                    <div class="bar" style="width: {{ badge_progress[k]['percentage'] }}%"></div>
                </div>
                {% if v.type == 'chapter' %}
                    <div class="chapter-progress">
                        {% for chapter in v.chapters %}
                            <h3>
                                {% if badge_progress[k]['milestones'][chapter]['chapter'] %}
                                    <i class="icon-book earned"></i>
                                {% else %}
                                    <i class="icon-book unearned"></i>
                                {% endif %}
                                {% if badge_progress[k]['milestones'][chapter]['pset'] %}
                                    <i class="icon-ok earned"></i>
                                {% else %}
                                    <i class="icon-ok unearned"></i>
                                {% endif %}
                                {{ toc[chapter].title }}
                            </h3>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
    {% endfor %}
</div>

{% endblock %}
