{% extends "layout.html" %}
{% block body %}

<link rel="stylesheet" href="/static/css/progress.css" />

<div id="progress" class="box">
    <h2>Badges</h2>
    <div class="progress-section progress-hardware">
        <div class="badge hardware-badge"><i class="icon-desktop"></i> Hardware</div>
        <div class="badge-progress">
            <div class="progress">
                <div class="bar" style="width: 45%"></div>
            </div>
        </div>
    </div>
    <div class="progress-section progress-internet">
        <div class="badge internet-badge"><i class="icon-cloud"></i> Internet</div>
        <div class="badge-progress">
            <div class="progress">
                <div class="bar" style="width: 45%"></div>
            </div>
        </div>
    </div>
    <div class="progress-section progress-multimedia">
        <div class="badge multimedia-badge"><i class="icon-picture"></i> Multimedia</div>
        <div class="badge-progress">
            <div class="progress">
                <div class="bar" style="width: 45%"></div>
            </div>
        </div>
    </div>
    <div class="progress-section progress-security">
        <div class="badge security-badge"><i class="icon-shield"></i> Security</div>
        <div class="badge-progress">
            <div class="progress">
                <div class="bar" style="width: 45%"></div>
            </div>
        </div>
    </div>
    <div class="progress-section progress-development">
        <div class="badge development-badge"><i class="icon-code"></i> Development</div>
        <div class="badge-progress">
            <div class="progress">
                <div class="bar" style="width: 45%"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
