html, body {
    background: #ECF0F1;
}

#chapter-content h2 {
    font-size: 2.5em;
    font-family: 'LatoLight';
    font-weight: normal;
    margin-bottom: 0.7em;
}

#chapter-content h3 {
    font-size: 1.1em;
    margin-top: -1.3em;
    margin-bottom: 0.3em;
    font-weight: normal;
    font-style: italic;
}

p, li {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 15px;
}

pre {
    margin-top: 15px;
    margin-bottom: 15px;
    background: white;
    border: none;
    margin-left: 15px;
    line-height: 20px;
}

pre code {
    border: none;
    font-size: 16px;
    color: black;
}

table {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#chapter-content {
    background: white;
    padding: 40px;
    border: 1px solid;
    border-color: #e5e5e5 #dbdbdb #d2d2d2;
    border-radius: 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}

.page-header {
    padding-bottom: 12px;
}

.page-break {
    page-break-before: always;
    margin-top: 40px;
}

#toc {
    margin-top: 100px;
}

#toc, #toc li {
    list-style-type: none;
}

#toc li {
    margin-bottom: 10px;
}

#section-selectors {
    margin: 20px auto;
    text-align: center;
    margin-bottom: 20px;
}

#section-selectors ul {
    background: #BDC3C7;
    height: 42px;
}

#btn-contents, #btn-pset {
    display: inline-block;
}

#btn-contents:hover, #btn-pset:hover {
    background-color: #C0392B;
}

.pagination {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

.pagination ul li > a {
    border: 5px solid #BDC3C7;
}

.pagination ul li.active > a {
    background: #7F8C8D;
    border: 5px solid #7F8C8D;
    color: white;
}

.pagination ul li.active.previous > a,
.pagination ul li.active.next > a,
.pagination ul li.active.previous > span,
.pagination ul li.active.next > span,
.pagination ul li.active.previous > a:hover,
.pagination ul li.active.next > a:hover,
.pagination ul li.active.previous > span:hover,
.pagination ul li.active.next > span:hover,
.pagination ul li.active.previous > a:focus,
.pagination ul li.active.next > a:focus,
.pagination ul li.active.previous > span:focus,
.pagination ul li.active.next > span:focus {
    background-color: #C0392B;
}

.pagination ul li > a:hover,
.pagination ul li > span:hover,
.pagination ul li > a:focus,
.pagination ul li > span:focus {
    background-color: #C0392B;
    border-color: #C0392B;
}

#section-selectors a {
    cursor: pointer;
}

.section-selector {
    background: #555;
    display: inline-block;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    margin: 0 40px;
    cursor: pointer;
}

.section-selector:hover {
    background: #ccc;
}

.chapter-heading {
    display: inline-block;
}

#navbar h1:hover + div #chapter-menu, #chapter-menu:hover {
    display: block;
}

#navbar h1 {
    cursor: pointer;
}

#navbar #title i {
    margin-left: 10px;
    font-size: 28px;
}

#chapter-menu {
    position: absolute;
    top: 60px;
    right: 20px;
    background: white;
    border: 1px solid #BDC3C7;
    border-top: 1px solid white;
    font-family: 'LatoLight';
    z-index: 2;
    display: none;
}

#chapter-menu ul {
    margin: 0;
    padding; 0;
}

#chapter-menu li {
    list-style: none;
    margin: 0;
    padding: 0;
}

#chapter-menu li a {
    text-decoration: none;
    color: #3498db;
    font-size: 18px;
    display: block;
    padding: 3px 8px;
}

#chapter-menu li a:hover {
    background: #efefef;
}
