h1 {
    font-family: 'LatoBold';
    font-weight: normal;
}

h1 {
    font-size: 4.0em;
    width: 90%;
}

h1 small {
    font-family: 'LatoHairline';
    font-size: 0.6em;
    font-weight: normal;
    margin-left: 0.3em;
    color: #7F8C8D;
}

h2 {
    font-size: 2.5em;
    font-family: 'LatoLight';
    font-weight: normal;
    margin-top: 1.0em;
    margin-bottom: 0.7em;
}

h3 {
    font-size: 1.1em;
    margin-top: -1.3em;
    margin-bottom: 0.3em;
    font-weight: normal;
    font-style: italic;
}

p, li {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 15px;
}

pre {
    margin-top: 15px;
    margin-bottom: 15px;
}

pre code {
    border: none;
}


.page-header {
    padding-bottom: 12px;
}

.page-break {
    page-break-before: always;
    margin-top: 40px;
}

#toc {
    margin-top: 100px;
}

#toc, #toc li {
    list-style-type: none;
}

#toc li {
    margin-bottom: 10px;
}

#section-selectors {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

#section-selectors ul {
    background: #BDC3C7;
    height: 42px;
}

.pagination ul li > a {
    border: 5px solid #BDC3C7;
}

.pagination ul li.active > a {
    color: #BDC3C7;
}

#section-selectors a {
    cursor: pointer;
}

.section-selector {
    background: #555;
    display: inline-block;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    margin: 0 40px;
    cursor: pointer;
}

.section-selector:hover {
    background: #ccc;
}

.chapter-heading {
    display: inline-block;
}

#toggle-menu {
    color: black;
    display: inline-block;
    font-size: 28px;
    vertical-align: top;
    margin-top: 13px;
    margin-right: 15px;
}

#toggle-menu:hover {
    text-decoration: none;
}
