html, body {
    background: #ECF0F1;
}

h2 {
    font-size: 2.5em;
    font-family: 'LatoLight';
    font-weight: normal;
    margin-bottom: 0.7em;
}

h3 {
    font-size: 1.1em;
    margin-top: -1.3em;
    margin-bottom: 0.3em;
    font-weight: normal;
    font-style: italic;
}

p, li {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 15px;
}

pre {
    margin-top: 15px;
    margin-bottom: 15px;
}

pre code {
    border: none;
}

#chapter-content {
    background: white;
    padding: 40px;
    border-radius: 2px;

    border: 1px solid;
    border-color: #e5e5e5 #dbdbdb #d2d2d2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}

.page-header {
    padding-bottom: 12px;
}

.page-break {
    page-break-before: always;
    margin-top: 40px;
}

#toc {
    margin-top: 100px;
}

#toc, #toc li {
    list-style-type: none;
}

#toc li {
    margin-bottom: 10px;
}

#section-selectors {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

#section-selectors ul {
    background: #BDC3C7;
    height: 42px;
}

.pagination ul li > a {
    border: 5px solid #BDC3C7;
}

.pagination ul li.active > a {
    color: #BDC3C7;
}

.pagination ul li.active.previous > a,
.pagination ul li.active.next > a,
.pagination ul li.active.previous > span,
.pagination ul li.active.next > span,
.pagination ul li.active.previous > a:hover,
.pagination ul li.active.next > a:hover,
.pagination ul li.active.previous > span:hover,
.pagination ul li.active.next > span:hover,
.pagination ul li.active.previous > a:focus,
.pagination ul li.active.next > a:focus,
.pagination ul li.active.previous > span:focus,
.pagination ul li.active.next > span:focus {
    background-color: #C0392B;
}

.pagination ul li > a:hover,
.pagination ul li > span:hover,
.pagination ul li > a:focus,
.pagination ul li > span:focus {
    background-color: #C0392B;
    border-color: #C0392B;
}

#section-selectors a {
    cursor: pointer;
}

.section-selector {
    background: #555;
    display: inline-block;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    margin: 0 40px;
    cursor: pointer;
}

.section-selector:hover {
    background: #ccc;
}

.chapter-heading {
    display: inline-block;
}

#toggle-menu {
    color: black;
    display: inline-block;
    font-size: 28px;
    vertical-align: top;
    margin-top: 13px;
    margin-right: 15px;
}

#toggle-menu:hover {
    text-decoration: none;
}
