.progress-section {
    margin-bottom: 10px;
    border-bottom: 1px solid #bdc3c7;
    padding-bottom: 25px;
    padding-top: 15px;
}

.progress-section h3 {
    font-family: 'Lato';
    font-weight: normal;
    font-size: 18px;
}

.progress-section .badge {
    display: inline-block;
}

.progress-section .badge.unearned {
    background-color: #95a5a6;
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    background-size: 50px 50px;
}

.progress-section .badge-progress {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.progress-section .progress {
    width: 675px;
}

.progress-hardware .bar {
    background: #9B59B6;
}

.progress-hardware i.earned {
    color: #9B59B6;
}

.progress-internet .bar {
    background: #E67E22;
}

.progress-internet i.earned {
    color: #E67E22;
}

.progress-multimedia .bar {
    background: #3498DB;
}

.progress-multimedia i.earned {
    color: #3498DB;
}

.progress-security .bar {
    background: #F1C40F;
}

.progress-security i.earned {
    color: #F1C40F;
}

.progress-development .bar {
    background: #E74C3C;
}

.progress-development i.earned {
    color: #E74C3C;
}

.chapter-progress {
    margin-left: 25px;
}

.chapter-progress i {
    margin-right: 10px;
}

i.unearned {
    color: #95a5a6;
}
