<script type="text/x-template" id="section-selector-template">

<a id="btn-contents" class="btn btn-default" href="/contents"
        data-toggle="tooltip" data-original-title="Table of Contents">
    <i class="icon-list"></i>
</a>

<div class="pagination">
    <ul>
        <li class="previous"><a class="fui-arrow-left"></a></li>
        <% for (var i in sections) { %>
            <li>
                <a class="btn-section" data-section="<%- i %>" data-toggle="tooltip"
                    data-original-title="<%- sections[i].title %>" data-id="<%- subheading(sections[i].title) %>">
                    <%- parseInt(i) + 1 %>
                </a>
            </li>
        <% } %>
        <li class="next"><a class="fui-arrow-right"></a></li>
    </ul>
</div>

<a id="btn-pset" class="btn btn-default" href="/pset/{{ chapter_id }}"
        data-toggle="tooltip" data-original-title="Problem Set {{ chapter.sequence + 1 }}">
    <i class="icon-ok"></i>
</a>

</script>
